dash==1.21.0
dash_extensions==0.0.53
dash-bootstrap-components==0.13.0
Flask==1.1.4
Flask_Caching==1.10.0
gunicorn==20.0.4
opencensus-ext-logging==0.1.0
opencensus_ext_azure==1.0.7
opencensus_ext_flask==0.7.4
opencensus_ext_requests==0.7.4
pandas==1.2.5
plotly==4.7.1
redis==4.5.3
dash-pivottable==0.0.2
MarkupSafe==2.0.1